<div class="corp">
    <div class="banner d-flex justify-content-end text-center">
        <button class="btn">

        
        <img src="../../../assets/images/heureux.png" width="25" height="25" alt="" srcset="">
        <span>BIENVENUE <small style="color: #666;">Mamadou!  </small> </span>
        <img src="../../../assets/images/profil.jpg" class="profil" alt="" srcset="">
        </button>
        <button class="btn">Se déconnecter</button>
    </div>
    <div class="top-nav d-flex justify-content-between">
        <img style="margin-left: 20px;" src="../../../assets/images/logo-03.png" width="120" height="70" alt="" srcset="">
        
        <div class="naviga">
            <button class="btn btn-nav btn-act">Acceuil</button>
            <button class="btn btn-nav">Consultation</button>
            <button class="btn btn-nav">rendez-vous</button>
            <button class="btn btn-nav">Dossier médical</button>
        </div>

        <!--<img src="../../../assets/images/right.png" width="150" height="150" alt="" srcset="">-->
    </div>
</div>
