.bloc-cadre{
    
  height: 150px;
  background: transparent;
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center
}

.bloc-card{
  width: 80%;
  height: 150px;
  background: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  
  
}

.bloc-card form{
padding: 10px;
display: flex;
flex-direction: row;
align-items: center;
height: 100px;
margin: auto;
width: 100%;
gap: 10px;
justify-content: space-between;
}

.bloc-card h2{
  margin-top: 15px;
}

.home-section{
  margin-top: 100px;
}

.btn1{
display: flex;
flex-direction: row;
align-items: center;
align-items: center;
justify-content: space-between;
margin: auto;
}

.bloc-card .btn1 mat-icon{
  color: #fff;
}

.bloc-card .btn:hover, .bloc-card .btn1{
  border: var(--color-primary) solid 1px;
  background: var(--color-primary);
  color: #fff;
}


.list{
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: minmax(80px, auto);
}

.clinik{
  /*border: solid 1px green;*/
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  background: #fff;
}

.clinik > img{
  height: 75px;
  width: 75px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-left: 7px;
  object-fit: cover;
  object-position: center;
}

.name-clinik{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 60px;
}

.btn-clinik > .btn{
  background: var(--color-primary);
  color: #fff;
  margin-right: 7px;
}
.second-section{
  background: #fff;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.second-section img{
  width: 550px;
  height: 400px;
}

.second-section h1{
  font-size: 40px;
  color: var(--color-primary);
}

.second-section strong{
  color: var(--color-secondary);
}

.second-section p{
  color: #666;
  font-size: 20px;
}