<app-navbar></app-navbar>
<div class="bloc-cadre">
    <div class="bloc-card">
        <form >
            <div class="my-col-5">
                <h5>Filtrer par région</h5>
                <p-autoComplete [showClear]="true" (onClear)="findDepartement($event, true)" (onSelect)="findDepartement($event, false)" [(ngModel)]="selectedRegions" placeholder="Région..." [suggestions]="filteredRegions" name="region" (completeMethod)="filterRegions($event)" field="libelle" [dropdown]="true">
                    <ng-template let-reg pTemplate="item">
                        <div class="country-item">
                            
                            <div>{{reg.libelle}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>

            <div class="my-col-5">
                <h5>Filtrer par département</h5>
                <p-autoComplete [showClear]="true" (onClear)="onSelectDepartement($event, true)" (onSelect)="onSelectDepartement($event, false)" [(ngModel)]="selectedDepartements" placeholder="Département..." [suggestions]="filteredDepartements" name="departm" (completeMethod)="filterDepartements($event)" field="libelle" [dropdown]="true">
                    <ng-template let-dep pTemplate="item">
                        <div class="country-item">
                            
                            <div>{{dep.libelle}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>

            <div class="my-col-5">
                <h5>Filtrer spécialité</h5>
                <p-autoComplete [showClear]="true" (onClear)="onSelectDomaine($event, true)" (onSelect)="onSelectDomaine($event, false)" [(ngModel)]="selectedDomaines" placeholder="Spécialité..." [suggestions]="filteredDomaines" name="domaine" (completeMethod)="filterDomaines($event)" field="libelle" [dropdown]="true">
                    <ng-template let-dom pTemplate="item">
                        <div class="country-item">
                            
                            <div>{{dom.libelle}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>
            <div class="my-col-5">
                <h5>Filter par cabinet médical</h5>
                <p-autoComplete [showClear]="true" (onClear)="onSelectCabinet($event, true)" (onSelect)="onSelectCabinet($event, false)" [(ngModel)]="selectedCabinets" placeholder="Cabinet médical..." [suggestions]="filteredCabinets" name="cabinet" (completeMethod)="filterCabinets($event)" field="nom" [dropdown]="true">
                    <ng-template let-cab pTemplate="item">
                        <div class="country-item">
                            
                            <div>{{cab.nom}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>

            
        </form>
        <button class="btn btn1" (click)="goFiltre()">
            Rechercher
            <mat-icon>search</mat-icon>
        </button>
    </div>
    
</div>
<div class="section home-section">
    <div class="container">
        
        <div class="list">
            <span *ngIf="isEmpty">{{infoMessage}}</span>
        <!--Début liste des cliniques-->
            <div class="clinik" *ngFor="let item of listCabinets">
                <img [src]="item['logo']" alt="" srcset="">
                <div class="name-clinik">
                    <h2>{{ item['nom'] }}</h2>
                    <span>{{ item['adresse'] }}</span>
                </div>
                <div class="btn-clinik">
                    
                    <a [routerLink]="['/cabinets', item['id']]" class="btn" >Voir plus</a>
                </div>
            </div>
        <!--Fin liste des cliniques-->
        </div>
        <br>
        <p-paginator [rows]="10" [totalRecords]="row" (onPageChange)="paginate($event)"></p-paginator>
        <br>
    </div>
    
</div>

<app-footer></app-footer>