.parent{
    height: 100vh;
    overflow: hidden;
}

.poster{
    position: relative;
    background: url(../../../assets/images/bg-02.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.login{
    background: url(../../../assets/images/bg-13.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.form-login{
    width: 400px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /*background: #fff;*/
    background: linear-gradient(0deg, rgba(6,214,160,0.4265056364342612) 0%, rgba(255,255,255,0.6758053563222164) 100%);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.form-login form{
    width: 80%;
}

.form-control{
    background: none;
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
}

.form-label{
    color: var(--color-primary);
}

.part-btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-insc{
    border: solid 1px #4895ef;
    color: #fff;
    background: #4895ef;
}

.btn-conn{
    background: var(--color-primary);
    color: #fff;
}

