.card-list{
    border: dashed 3px var(--color-light);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-list .contenu{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

.info-span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    flex-wrap: wrap;
}

.info-span mat-icon, .info-span strong{
    margin-right: 5px;
    color: var(--color-primary);
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
