<div class="corp">
    <div class="banner d-flex justify-content-end text-center">
        <div class="name-user">
            <span>BIENVENUE <small style="color: #666;"> {{ prenom }} </small> </span>
            <img [src]="photo" class="profil" alt="" srcset="">
        </div>
       
        <button class="btn btn-power" (click)="deconnect()">
            <mat-icon>settings_power</mat-icon>
            Se déconnecter
        </button>
    </div>
    <div class="top-nav">
        <img style="margin-left: 20px;" src="../../../assets/images/logo-03.png" width="120" height="70" alt="" srcset="">
        
        <ul class="naviga">
            <a routerLink="/medecin/acceuil" routerLinkActive="active"><li>Acceuil</li></a> 
            <a routerLink="/rendez-vous" routerLinkActive="active"><li>Rendez-vous</li></a>
            <a routerLink="/dossier-medical" routerLinkActive="active"><li>Dossier médical</li></a>
            <a routerLink="/cabinets-medicaux" routerLinkActive="active"><li>Cabinets médicaux</li></a>
        </ul>

        <!--<img src="../../../assets/images/right.png" width="150" height="150" alt="" srcset="">-->
    </div>
</div>
