.page{
    height: 100vh;
    overflow: auto;
}

.detail-cabinet{
    width: 95%;
    height: 400px;
    margin: 20px auto auto;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 50px;
}

.btn-retour{
    background: #fff;
    border: solid 1px var(--color-primary);
    color: var(--color-primary);
    margin: 10px 10px auto;
}

.detail-content{
    width: 98%;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 40px;
}

.detail-content img{
    height: 250px;
}

.part-1{
    border: solid 2px var(--color-primary);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    color: var(--color-primary);
    background: linear-gradient(0deg, rgba(6,214,160,0.4265056364342612) 0%, rgba(255,255,255,0.38728995015975143) 42%);
}

.part-2{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    gap: 20px;
}

.title-1{
    display: flex;
    flex-direction: column;
}

.title-1 h1{
    color: var(--color-primary);
}

.title-1 span{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
}

.title-1 mat-icon{
    margin-right: 15px;
}

.title-2{
    width: 350px;
}

.part-bas{
    width: 65%;
    margin: auto;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin-top: -70px;
}

.part-bas span{
    background: var(--color-vert);
    padding: 10px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    color: var(--color-secondary);
}

.detail-logo{
    width: 250px;
    height: 250px;
}

.btn-dmd{
    border: solid 1px var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70px;
    color: var(--color-primary);
    margin: 100px 70px auto;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.btn-dmd .mat-icon{
    font-size: 30px;
}

.btn-dmd:hover{
    background: var(--color-primary);
    color: #fff;
}

.part-demande{
    width: 95%;
    margin: 20px auto 50px auto;
    height: 400px;
    background: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
}

.my-header{
    width: 95%;
    margin: 20px auto auto auto;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(90deg, rgba(6,214,160,0.4265056364342612) 0%, rgba(255,255,255,0.38728995015975143) 80%);
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.my-header h1{
    font-weight: 700;
    color: var(--color-primary);
    margin-top: 15px;
}
.my-header button{
    height: 40px;
    background: #e63946;
    color: #fff;
}

.my-form{
    height: 300px;
    width: 95%;
    margin: auto;
    padding: 10px;
}

.my-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
}

.my-grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(80px, auto);
}
.field{
    display: flex;
    flex-direction: column;
}

.my-flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn-valider{
    background: var(--color-primary);
    color: #fff;
    position: relative;
    float: right;
}